@font-face {
    font-family: "JejuHallasan";
    src: url("./fonts/JejuHallasan/JejuHallasan.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorPrincipal {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.contenedorVideo {
    position: relative;
    width: 100%;
    height: 90.43112513144059vh;
}

.contenedorVideo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill; 
}

.contenedorVideo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 1;
}

.logo {
    position: absolute;
    top: 2.103049421661409vh;
    left: 2.083333333333333vw;
    z-index: 10;
    display: flex;
    gap: 0.5208333333333333vw;
    width: 95%;
}

.logo img {
    width: 5.208333333333333vw;
}

.logo h2 {
    color: white;
    margin-top: 1.577287066246057vh;
    font-family: "JejuHallasan", sans-serif;
    font-size: 1.302083333333333vw;
    margin-right: auto;

}

.logo h3 {
    color: white;
    margin-top: 1.577287066246057vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1vw;
    margin-left: 1vw;
}

.menuBurger{
    display: none;
    cursor: pointer;
    background: transparent;
    position: absolute;
    top: 2vw;
    right: 2vw;
    z-index: 10; 
    border: none;   
}

.menuBurger img{
    width: 5vw;
}

.menu-mobile {
    display: none;
    background-color: white;
    width: 100%;
    height: 21vh;
    z-index: 20;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
}


.menu-mobile h3 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.7vw;
    text-align: center;
    margin: 2vw;
}

.menu-mobile.abrir{
    display:none;
    
}

.cerrarMenu {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 2vw;
    right: 2vw;
    
}

.cerrarMenu img {
    width: 5vw;
}

.menuCerrar{
    margin-top: 3.5vh;
}

.eslogan {
    position: absolute;
    width: 34.375vw;
    top: 21.03049421661409vh;
    left: 10.9375vw;
    z-index: 10;
}

.eslogan h1 {
    color: white;
    font-size: 2.604166666666667vw;
    font-family: "JejuHallasan", sans-serif;
}

.eslogan h3 {
    color: white;
    font-size: 1.5625vw;
    font-family: "JejuHallasan", sans-serif;
}

.eslogan button {
    background-color: #273B46;
    color: white;
    padding: 0.78125vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.041666666666667vw;
    margin-top: 2.103049421661409vh;
    border: none;
    border-radius: 0.15625vw;
}

.contenedorReproducir {
    position: absolute;
    bottom: 1.041666666666667vh;
    right: 2.083333333333333vw;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 0.5208333333333333vw;
}

.contenedorReproducir button {
    padding: 0.5208333333333333vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5625vw;
    border: 0.1041666666666667vw solid white;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.2604166666666667vw;
    border-radius: 0.15625vw;
}

.contenedorReproducir img {
    filter: invert(1) saturate(5) hue-rotate(0deg);
    width: 1.041666666666667vw;
}

.separador {
    position: relative;
    height: 10.51524710830705vh;
    background-color: white;
}

.contenedorSeleccion {
    background-color: #22333F;
    color: white;
    height: 31.5vh;
    display: flex;
    flex-direction: column;
}

.textoSeleccion1 {
    text-align: center;
    margin-top: 4vw;
    font-family: "JejuHallasan", sans-serif;
    font-size: 1.5vw;
}

.textoSeleccion2 {
    text-align: center;
    margin: 0 auto;
    margin-top: 1vw;
    width: 50vw;
    font-size: 1vw;
    font-family: "JejuHallasan", sans-serif;
}

.flechaScroll {
    display: flex;
    justify-content: center;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.flechaScroll img {
    width: 2.083333333333333vw;
    height: 4.206098843322818vh;
    margin-top: 2.628811777076761vh;
    cursor: pointer;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.grid-item{
    background-color: #22333F;
}

.grid-1 {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(7, 1fr);
    gap: 1%;
    margin-left: 6.6vw;
    margin-right: 6.6vw;
}

.item1{
    grid-column: span 3;
    height: 42vh;
    width: 37vw;
}

.item1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item2{
    grid-column: span 4;
    height: 42vh;
    width: 48vw;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1%;
    margin-left: 6.6vw;
    margin-right: 6.6vw;
    margin-top: 1%;
}

.item3{
    grid-column: span 1/2;
    height: 42vh;
    width: 42.5vw;
}

.item4{
    grid-column: span 1.5;
    height: 42vh;
    width: 42.5vw;
}

.item4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1%;
    margin-left: 6.6vw;
    margin-right: 6.6vw;
    margin-top: 1%;
}

.item5{
    grid-column: span 3;
    height: 42vh;
    width: 37vw;
}

.item5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item6{
    grid-column: span 4;
    height: 42vh;
    width: 48vw;
}

.descubreTitulo{
    display:flex;
    justify-content: center;
    margin-bottom: 4vh;
}

.descubreTitulo h1{
    font-family: "JejuHallasan", sans-serif;
    font-size: 2.1vw;
}

.informacion1 h1{
    font-family: "JejuHallasan", sans-serif;
    font-size: 2vw;
    color: white;
    text-align: center;
    margin-top: 6vw;
}

.informacion1 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    color: white;
    text-align: center;
    margin-top: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.explorar{
    display:flex;
    justify-content: center;
    margin-bottom: 4vh;
}

.explorarTitulo{
    font-family: "JejuHallasan", sans-serif;
    font-size: 1.5625vw;
}

.fraseSubrayada {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-decoration: underline;
    text-decoration-thickness: 0.1vw;
}

.flechaDerecha {
    height: 0.8vw; 
    margin-left: 0.2604166666666667vw;
    filter: invert(1) saturate(5) hue-rotate(0deg);

}

.informacion2 h1{
    font-family: "JejuHallasan", sans-serif;
    font-size: 2vw;
    color: white;
    text-align: center;
    margin-top: 7vw;
}

.informacion2 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    color: white;
    text-align: center;
    margin-top: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.informacion3 h1{
    font-family: "JejuHallasan", sans-serif;
    font-size: 2vw;
    color: white;
    text-align: center;
    margin-top: 7vw;
}

.informacion3 p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    color: white;
    text-align: center;
    margin-top: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.carousel{
    position: relative;
    height: 26.0416vw;
    overflow: hidden;
    margin: auto;
    margin-left: 6.6vw;
    margin-right: 6.6vw;  
}

.carouselInterior{
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out, flex 0.5s ease-in-out;
}

.carouselImg img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.carouselImg.imagenVisible {
    flex: 0 0 50%;
}

.carouselImg{
    flex: 0 0 45%;
    transition: flex 0.5s ease-in-out;
}

.carouselAnterior, .carouselSiguiente{
    position: absolute;
    top: 50%;   
    cursor: pointer;
    z-index: 10;
    transform: translateY(-50%); 
}

.carouselAnterior img{
    width:2.5vw;
}

.carouselSiguiente img{
    width:2.5vw;
}

.carouselAnterior{
    left: 1.0416vw;
}

.carouselSiguiente{
    right: 1.0416vw;
}  

.jugadores{
    display:flex;
    justify-content: center;
    margin-bottom: 4vh;
}

.nuestroJugadores h1{
    font-family: "JejuHallasan", sans-serif;
    font-size: 2.1vw;
}

.contenedorCritica{
    display: flex;
    margin-left: 13vw;
    margin-right: 13vw;
    gap: 4vw;

}

.criticaImg{
    width: 31.25vw;
    height: 45vw; 
}

.criticaImg img{
    width: 31.25vw;
    height: 45vw; 
    object-fit: cover;
}

.critica{
    width: 42vw;
    height: 45vw;   
    background-color: #22333F;
}

.critica #texto1{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1.5vw;
    color: white;
    margin-top: 5vw;
    margin-left: 5vw;
    margin-right: 5vw;  
}

.critica #texto2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    text-decoration: underline;
    text-decoration-thickness: 0.1vw;
    border: 0.5vw;
    color: white;
    margin-top: 1vw;
    margin-left: 5vw;
    margin-right: 5vw;  
}

.piePagina{
    background-color: #22333F;
    height: 9vh;
}

.pieInformacion{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.piePagina p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9vw;
    margin: 0;
    margin-top: 3vh;
    margin-left: 5vw;
}

.iconos{
    display: flex;
    align-items: center;
    margin-right: 5vw;
   
}

.iconos img{
    width: 1.7vw;
    height: auto;
    margin-top: 3vh;
    margin-left: 1vw;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .contenedorVideo {
        height: 30vh;
    }

    .logo {
        display: none
    }
    
    .menuBurger {
        display: block;
    }

    .menu-mobile.abrir{
        display: flex;
    }

    
.eslogan {
    width: 45vw;
    top: 7.6vh;
    left: 5vw;
}

.eslogan h1 {
    font-size: 3vw;
}

.eslogan h3 {
    font-size: 2vw;
}

.eslogan button {
    padding: 2vw;
    font-size: 2vw;
}

.contenedorReproducir {
    position: absolute;
    bottom: 1.041666666666667vh;
    right: 2.083333333333333vw;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 0.5208333333333333vw;
}

.contenedorReproducir button {
    padding: 1vw;
    font-size: 2vw;
    gap: 0.2604166666666667vw;
}

.contenedorReproducir img {
    width: 2vw;
}

.separador {
    position: relative;
    height: 5vh;
    background-color: white;
}

.flechaScroll img {
    width: 4vw;
    height: 2vh;
    margin-top: 1.4vh;
}

.contenedorSeleccion {
    height: 10.5vh;
}

.textoSeleccion1 {
    margin-top: 7vw;
    font-size: 2vw;
}

.textoSeleccion2 {
    margin-top: 1vw;
    width: 80vw;
    font-size: 1.5vw;
}


.descubreTitulo{
    margin-bottom:3vh;
}

.descubreTitulo h1{

    font-size: 3vw;
}

.grid-1 {
    gap: 1%;
    margin-left: 6.6vw;
    margin-right: 6.6vw;
}

.item1{
    grid-column: span 3;
    height: 10vh;
    width: 37vw;
}

.item1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item2{
    grid-column: span 4;
    height: 10vh;
    width: 48vw;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1%;
    margin-left: 6.6vw;
    margin-right: 6.6vw;
    margin-top: 1%;
}

.item3{
    grid-column: span 1/2;
    height: 10vh;
    width: 42.5vw;
}

.item4{
    grid-column: span 1.5;
    height: 10vh;
    width: 42.5vw;
}

.item4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-3{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1%;
    margin-left: 6.6vw;
    margin-right: 6.6vw;
    margin-top: 1%;
}

.item5{
    grid-column: span 3;
    height: 10vh;
    width: 37vw;
}

.item5 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item6{
    grid-column: span 4;
    height: 10vh;
    width: 48vw;
}


}


